<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="trace">

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{YYYY-MM-dd HH:mm:ss} %-5p %c{1}:%M:%L - %msg%n" />
        </Console>

        <RollingFile name="INFO" filename="logs/ringme.log" filepattern="logs/ringme.%d{YYYY-MM-dd}.log.gz">
            <PatternLayout pattern="%d{YYYY-MM-dd HH:mm:ss} %-5p %c{1}:%M:%L - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy />
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="logs">
                    <IfFileName glob="ringme.*.log.gz" />
                    <IfLastModified age="P30D" />
                    <!--                    <IfAccumulatedFileSize exceeds="10KB" />-->
                    <!--                    <IfAccumulatedFileCount exceeds="3" />-->
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
        <RollingFile name="ERROR" filename="logs/ringme-error.log" filepattern="logs/ringme-error.%d{YYYY-MM-dd}.log.gz">
            <PatternLayout pattern="%d{YYYY-MM-dd HH:mm:ss} %-5p %c{1}:%M:%L - %msg%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="300 MB" />
            </Policies>
            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            <DefaultRolloverStrategy max="2" />
        </RollingFile>
        <RollingFile name="CDR" filename="logs/cdr/cdr.log"
                     filepattern="logs/cdr/cdr-export/%d{yyyy-MM-dd-HH}.log">
            <PatternLayout pattern="%d{YYYY-MM-dd HH:mm:ss}|%msg%n"/>
            <Policies>
                <!-- timeInterval="1" tính theo đơn vị pattern cuối cùng (ở đây là giờ) -->
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <Filters>
                <MarkerFilter marker="CDR" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console" />
            <AppenderRef ref="INFO" />
            <AppenderRef ref="ERROR" />
            <AppenderRef ref="CDR"/>
        </Root>
    </Loggers>
</Configuration>
